@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');

@font-face {
    font-family: 'gothambold';
    src: url(../fonts/gotham/gothambold-webfont.woff2) format('woff2'),
         url(../fonts/gotham/gothambold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothambook';
    src: url(../fonts/gotham/gotham-book-webfont.woff2) format('woff2'),
         url(../fonts/gotham/gotham-book-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-primary-book: 'gothambook', sans-serif;
$font-primary-bold: 'gothambold', sans-serif;


*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body{
	font-family: $font-primary-book;
	
}

h2, h3 {
	font-size: 1.6em;
	margin-bottom: 1em;
	position: relative;
	padding-bottom: 0.5em;
	font-family: $font-primary-bold;
	letter-spacing: -0.05em;
	text-shadow: 0.08em 0.08em 0 rgba(255,255,255,1);

	span {
		font-weight: bold;
		color: goldenrod;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0.055em;
		background-color: rgba(255,255,255,0.5);
	}
}


.app{
	max-width: 30em;
	margin: auto;
	position: relative;
}

.view{
	min-height: 100vh;
}


.view{
	display: flex;
	flex-direction: column;
}

.header{
	text-align: right;
	padding: 1em;

	i {
		border-radius: 50%;
		margin-left: 0.5em;
		width: 2.5em;
		height: 2.5em;
		text-align: center;
		line-height: 2.5;
		background-color: rgba(0,0,0,0.4);
		color: #fff;
		transition: ease 0.3s all;
		
		&:hover {
			box-shadow: 0 0.3em 0.25em rgba(0,0,0,0.1);
			transform: translateY(-0.2em);
			cursor: pointer;
		}
	}
}

.main{
	flex: 1 0 auto;
	padding: 0 1em 1em 1em;
}

.menu a{
	display: block;
	text-align: center;
	padding: 1em;
	border-bottom: thin rgba(0,0,0,0.1) solid;
	color: black;
	text-transform: capitalize;
	transition: ease 0.3s all;

	&:hover {
		text-decoration: none;
		background-color: rgba(255,255,255,0.3);
		border-color: transparent;
	}
}

.project{
	margin-bottom: 1em;
	box-shadow: 0 0.8em 0.8em -0.5em rgba(0,0,0,0.1);
	padding: 0.5em 0.5em 0 0.5em;
	
	i{
	  margin-right: 0.5em;
	  background-color: rgba(0,0,0,0.4);
	  color: #fff;
	  width: 2.2em;
	  line-height: 2.2;
	  border-radius: 50%;
	  text-align: center;
	  transition: ease 0.3s all;
	  
	  &:hover {
			box-shadow: 0 0.3em 0.2em rgba(0,0,0,0.1);
			transform: translateY(-0.2em);
			cursor: pointer;
	  }
	}

	p:not(.card-text) {
		margin: 0;
	}
}

.card-body {
	padding: 1em 0.5em;
}

.color-1 {
	background-image: linear-gradient(rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.05) 100%);
}

.btn-color {
	background-color: goldenrod;
	color: #fff;
}

.btn {
	transition: ease 0.3s all;
	
	&:focus {
		box-shadow: none;
	}
	
	&:hover {
		transform: translateY(-0.2em);
		box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.1);
		color: #fff;
		cursor: pointer;
	}
}

form {
	.form-group {

		input, select {
			background-color: rgba(255,255,255,0.5);
			border: 0.1em rgba(0,0,0,0.1) solid;
		}

		label {
			font-weight: bold;
			margin: 0;
			color: rgba(0,0,0,0.4);
			padding-bottom: 0.3em;
		}
	}
}


.form-control:focus {
    outline: 0;
	box-shadow: none;
	border-color: goldenrod;
	border-width: 0.15em;
}

