@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h2, h3 {
  font-size: 1.5em;
  margin-bottom: 1em;
  position: relative;
  padding-bottom: 0.5em;
}

h2 span, h3 span {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

h2:after, h3:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4em;
  height: 0.2em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.1em;
}

.app {
  max-width: 30em;
  margin: auto;
  position: relative;
}

.view {
  min-height: 100vh;
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  text-align: right;
  padding: 1em;
}

.header i {
  border-radius: 50%;
  margin-left: 0.5em;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  line-height: 2.5;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.1);
  color: #fff;
  -webkit-transition: ease 0.3s transform;
  transition: ease 0.3s transform;
}

.header i:hover {
  -webkit-transform: translateY(-0.2em);
          transform: translateY(-0.2em);
  cursor: pointer;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0 1em 1em 1em;
}

.menu a {
  display: block;
  text-align: center;
  padding: 1em;
  border-bottom: 0.1em rgba(0, 0, 0, 0.1) solid;
  color: black;
  text-transform: capitalize;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}

.menu a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.03);
  border-color: transparent;
}

.project {
  margin-bottom: 1em;
  -webkit-box-shadow: 0 0.8em 0.8em -0.5em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.8em 0.8em -0.5em rgba(0, 0, 0, 0.1);
  padding: 0.5em 0.5em 0 0.5em;
}

.project i {
  margin-right: 0.5em;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 2.2em;
  line-height: 2.2;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.1);
  -webkit-transition: ease 0.3s transform;
  transition: ease 0.3s transform;
}

.project i:hover {
  -webkit-transform: translateY(-0.2em);
          transform: translateY(-0.2em);
  cursor: pointer;
}

.project p:not(.card-text) {
  margin: 0;
}

.card-body {
  padding: 1em 0.5em;
}

.color-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.05)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.05) 100%);
}

.btn-color {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.1);
  color: #fff;
}

.btn {
  -webkit-transition: ease 0.3s transform;
  transition: ease 0.3s transform;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:hover {
  -webkit-transform: translateY(-0.2em);
          transform: translateY(-0.2em);
  color: #fff;
  cursor: pointer;
}

form .form-group input, form .form-group select {
  background-color: transparent;
  border: none;
  border-bottom: 0.1em rgba(0, 0, 0, 0.1) solid;
  padding: 0;
  border-radius: 0;
}

form .form-group label {
  font-weight: bold;
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
}

.form-control:focus {
  background-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=style.css.map */